#order-page{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.order-header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06);
    height: 4rem;
    align-items: center;
    padding: 0 16px;
    background: #ffffff;
    position: relative;
  }
  
  .order-header .logo {
    width: 150px;
    height: 40px;
  }
  
  .order-header .logo img {
    width: 100%;
  }

  .order-header .login{
    display: flex;
    flex-direction: row-reverse;
  }

  .login .icon-user{
    font-size: 32px;
    margin-left: 8px;
  }

  .icon-user i {
    color: #d8b979;
  }

  .orders-user {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .orders-user label{
    font-size: 15px;
    text-decoration: none;
    padding-right: 2px;
  }
  
  .btn-orders-list,
  .btn-order-page {
    width: fit-content;
    padding: 2px 5px;
    background: #d8b979;
    color: #ffffff;
    font-size: 12px;
    border-radius: 20px;
    white-space: nowrap;
    text-align: center;

    cursor: pointer;
  }

  .btn-orders-list:hover,
  .btn-order-page:hover{
    color: #d8b979;
    background-color: #fbfbfb;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.5s ease;
  }
  
  .order-header .input-search {
    width: 500px;
    border-radius: 30px;
    border: none;
    background: #fbfbfb;
    height: 32px;
    font-size: 14px;
    padding: 0 20px 0 30px;
    background-image: url(../images/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 8px 10px;
    background-size: 14px 14px;
  }
  
  .order-header .input-search:focus {
    outline: none;
  }
  
  .order-content {
    display: flex;
    padding-top: 8px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .order-sidebar {
    margin: 0 16px;
    color: #282828;
    background: #ffffff;
    height: fit-content;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .05);
    border-radius: 4px;
    padding-bottom: 12px;
  }

  .order-sidebar.sidebar-left{
    width: 22%;
  }
  
  .order-sidebar.sidebar-right{
    width: 26%;
  }
  
  .order-center {
    width: 52%;
    flex-grow: 1;
    overflow-y: scroll;
    height: 90vh;
    padding: 5px 10px;
  }

  .btn-menu{
    display: none;
  }
  
  .cat-title {
    padding: 10px 20px;
    font-size: 14px;
    border-bottom: 1px solid #f1f1f1;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .list-cat {
    padding: 0 16px;
  }
  
  .cat-item {
    display: flex;
    padding: 8px 0px;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
  }
  
  .cat-item:last-child {
    border-bottom: none;
  }
  
  .cat-amount {
    color: #8a733f;
  }
  
  .cart-title {
    padding: 10px 15px;
    border-bottom: 1px solid #f1f1f1;
  }
  
  .cart-ss1 {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 10px 15px;
    padding: 8px 0;
    overflow-y: scroll;
    min-height: 8rem;
    max-height: 20rem;
  }
  
  .cart-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cart-title-left {
    text-transform: uppercase;
    font-weight:bold;
    pointer-events: none;
  }
  
  .cart-title-right {
    font-size: 12px;
    cursor: pointer;
  }
  
  /* .cart-banner .banner-image {
    max-width: 100%;
  }
  
  .cart-banner:hover .desk-banner-close-btn {
    display: block;
  }
  
  .cart-banner .desk-banner-close-btn {
    display: none;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
    z-index: 1;
    background: #fbfefd;
    border-radius: 50%;
    padding: 0px 5px;
    box-shadow: 0px 0px 2px 0px rgb(24 20 33 / 50%);
  }
  
  .mobile-banner .mobile-banner-close-btn {
    position: absolute;
    top: 60px;
    right: 5px;
    cursor: pointer;
    z-index: 1;
    background: #fbfefd;
    border-radius: 50%;
    padding: 0px 5px;
    box-shadow: 0px 0px 2px 0px rgb(24 20 33 / 50%);
  }
  
  .mobile-banner .mobile-banner-image {
    width: 100%;
  }
   */
  .cart-ss1-right {
    display: flex;
    align-items: center;
  }
  
  .cart-ss1-right .amount {
    margin: 0 8px;
  }
  .cart-ss1-left {
    padding: 4px;
  }
  
  .cart-ss1-left .name {
    font-weight: 600;
  }
  .cart-ss1-left .customize {
    color: #adaeae;
    font-size: 12.5px;
  }
  
  .cart-ss1-left .total {
    color: #8a733f;
    font-weight: 500;
  }
  
  .cart-ss2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 0 20px;
    margin: 15px 0;
  }
  
  .cart-ss2-one {
    font-weight: 600;
    padding: 0 4px;
  }
  
  .cart-ss2-two,
  .cart-ss2-four {
    color: #8a733f;
  }
  
  .cart-ss2-three {
    padding: 0 4px;
  }
  
  .cart-ss2-four {
    font-weight: 600;
  }
  
  .img-toco {
    height: 35px;
  }
  
  .btn-checkout {
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d8b979;
    color: #ffffff;
    margin: 0 20px;
    cursor: pointer;
  }
  
  .top-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    padding: 0 20px;
    background: #ffffff;
  }
  
  .top-center-right {
    display: flex;
    align-items: center;
  }
  
  .view-grid,
  .view-list {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b8b8b8;
    border-radius: 6px;
    margin-left: 10px;
  }
  
  .main-center .category {
    /* background: #ffffff; */
    margin-top: 16px;
  }

  .category.hidden .list-product{
    display: none;

  }
  
  .main-center {
    padding-bottom: 150px;
  }
  
  .category-name {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    padding-bottom: 16px;
    cursor: pointer;
    align-items: center;
  }
  
  .category-name .left {
    font-weight: bold;
  }
  
  .list-product {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem 1.2rem;
  }

  .list-product.hidden {
    display: none;
  }
  
  .product {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 3%;
    padding: 3%;
    border-bottom: 1px solid #f8f8f8;
    border-radius: 8px;
    box-shadow: 
    2px 2px 5px -2px rgba(0, 0, 0, 0.14);
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } 
  
  .product:nth-child(3n) {
    margin-right: 0;
  }
  
  .product img {
    width: 100%;
  }
  
  .product .product-name {
    /* height: 36px; */
    font-weight: 600;
    font-size: 14px;
    line-height: 1rem;
    padding: 5px 0;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .product:hover{
    box-shadow: 
    0 3px 4px rgba(0, 0, 0, 0.15),
    0 3px 2px rgba(0, 0, 0, 0.12);
    transform: translate(0px,3px);
  }

  .product .product-buyer {
    display: flex;
    justify-content: space-between;
  }
  
  .cart-ss1-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 10%;
    padding-right: 5px;
    /* border-bottom: 0.5px solid #cccccc; */
    cursor: pointer;
  }
  .cart-ss1-item:hover {
    background-color: #f7f7f7;
    border-radius: 5px;
    border-bottom: none;
  }

  .cart-ss1-item:hover .delete-btn {
    display: block;
  }

  .delete-btn {
    position: absolute;
    left: 10px;
    cursor: pointer;
    display: none;
  }

  .delete-btn i {
    font-size: 12px;
  }

  .delete-btn:hover i {
    transform: scale(1.2, 1.2);
  }

  .order-content .cat-item {
    cursor: pointer;
  }
  
  .order-header .btn-back {
    padding: 8px;
    margin-right: 12px;
    display: none;
  }

  .ss-1-right {
    margin-left: 16px;
  }
  
  .ss-1-right .product-name {
    font-size: 18px;
    margin-right: 16px;
    font-weight: 600;
  }
  
  .ss-1-right .wrap-quantity {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .ss-1-right .change-quantity-wrap {
    display: flex;  
  }
  
  .ss-1-right .change-quantity-wrap .amount {
    padding: 0 15px;
  }
  
  .ss-1-right .price {
    padding-right: 10px;
    color: #8a733f;
    font-weight: 600;
  }
  
  .ss-1-right .product-info {
    padding: 10px 0;
    color: rgba(0, 0, 0, 0.87);
    font-style: italic;
  }
  
  .ss-1-right .product-price {
    margin-top: 16px;
  }
  
  .ss-1-right .btn-price-product {
    background: #d8b979;
    color: #ffffff;
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
    border-radius: 30px;
    border: none;
    box-shadow: unset;
    margin-left: 30px;
    cursor: pointer;
  }
  