body{
    margin: 0;
}

#Header {
    width: 100%;
    height: 100px;
}

#Footer {
    background-color: yellow;
    border: none black;
    height: 100px;
}

.box-container-1{
    margin-left: 100px;
    margin-right: 100px;
    border: none;
}

.milktea-title{
    text-align: center;
}

.title-center-1{
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

.title-center-2{
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
}

.sort-bar{
    margin-top: 30px;
    display: inline-flex;
    justify-content: space-between;
    border: solid black 1px;
    border-radius: 10px;
    width: 1279px;
    padding: 20px;
}

.bar-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.bar-right{
    display: inline-flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.bar-button{
    margin-left: 30px;
}

.product-card-1{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border: none;
    height: 1600px;
}

.product-card-2{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border: none;
    height: 1100px;
}

.item-row1{
    border: none;
    height: 471px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.item-row2,.item-row3{
    margin-top: 50px;
    border: none;
    height: 471px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.product-item-1, .product-item-2, .product-item-3,
.product-item-4{
    border: 1px black solid;
    width: 300px;
    height: 470px;
    background-color: aqua;
    position: relative;
}

.item-img{
    border: none;
    background-color: white;
    width: 300px;
    height: 350px;
    position: absolute;
}

.item-drink-price{
    border: none;
    background-color: whitesmoke;
    color: black;
    width: 300px;
    height: 120px;
    position: absolute;
    top: 350px;
}

.item-button{
    border: solid 3px darkslategray;
    background-color: darkslategray;
    color: white;
    width: 150px;
    height: 50px;
    position: absolute;
    left: 80px;
    bottom: 5px;
}

.drink-name, .drink-price{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    padding: 4px;
}

.drink-book{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    padding: 15px;
}
