body{
    margin: 0px;
    background-image:
        linear-gradient(to bottom right, beige, orange);
    background-attachment: fixed;
}

#sidebar{
    width: 250px;
    height: 1000px;
    float: left;
    position: fixed;
    border-right: solid gold 2px;
}

#page-form{
    width: 900px;
    height: auto;
    position: relative;
    left: 350px;
    top: 30px;
    background-color: white;
    border: solid 2px whitesmoke;
}

#page-product{
    width: 900px;
    height: auto;
    position: relative;
    left: 350px;
    top: 50px;
    background-color: white;
    border: solid darkred;
    margin-bottom: 100px;
}

.sidebar-logo{
    width: 250px;
    height: 100px;
    background-color: lightgoldenrodyellow;
}

.sidebar-logo img{
    width: 80%;
    height: 70%;
    margin: 10px 20px;
}

.sidebar-title {
    width: 250px;
    height: 80px;
    background-color: lightgoldenrodyellow;
}

.sidebar-title span{
    padding: 10px;
    font-size: 30px;
    font-family: monospace;
    font-weight: bolder;
    position: relative;
    color: goldenrod;
    top: 15px;
}

.sidebar-menu{
    width: 250px;
    height: 1000px;
    background-color:lightgoldenrodyellow;

}

.sidebar-menu__list a{
    display: block;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: goldenrod;
    width: auto;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border: solid goldenrod 2px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar-menu__list a:hover{
    color: white;
    background-color: goldenrod;
}

.page-form__title{
    background-color: white;
    color: gold;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    height: 30px;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
}

.container-input{
    margin: 10px 30px;
}

input{
    width: 300px;
    height: 20px;
    margin-bottom: 10px;
}

button{
    width: 70px;
    height: 30px;
    background-color: lightgoldenrodyellow;
    border-color: gold;
    color: darkred;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color: darkred;
    border-color: whitesmoke;
    color: white;
}

.table-btn{
    display: flex;
    padding: 10px;
}

.btn:first-child{
    margin-right: 10px;
}

.database-heading{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    font-weight: bold;
    gap: 1px;
}

.heading-name{
    background-color: gold;
    width: auto;
    color: white;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

.table-content{
    background-color: white;
    padding: 10px;
    text-align: center;
}

.table-content span{
}

.table-img img{
    width: 130px;
}


