/*==========================LEFT MENU SIDE BAR ================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

#leftmenu{
	width: 80px;
	overflow: hidden;
	height: 100vh;
	background-color: cadetblue;
	position: fixed;
	transition: 0.5s;
}

#leftmenu .logo {
    width: 500px;
	height: 100px;
	background-color: brown;
    display: block;
}

#leftmenu .logo img{
    margin-left: 5px;
    zoom: 70%;
    width: 400px;
    object-fit: cover;
    transition: 0.5s;   
}

#leftmenu .logo div{
    color: black;
}

.name{
    position: absolute;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    top : 30px;
    left: 0px;
}

#leftmenu:hover .logo img{
	zoom: 50%;
    transition: all 0.6s linear;
    transform: translateY(20px);
}


#leftmenu ul li{
	width: 100%;
	display: flex;
	list-style-type: none;
	border-bottom: 1px solid black;
}

#leftmenu ul li:hover{
	background-color: darkslategray;
    border-bottom: solid 5px white;
}

#leftmenu span:hover{
    color: white;
}

#leftmenu ul li img{
	width: 60px;
	height: 50px;
	padding-left: 30px;
    object-fit: scale-down;
}
#leftmenu ul li span{
	text-decoration: none;
	color: black;
	font-size: 14pt;
	display: inline-block;
	width: calc(100% - 50px);
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	opacity: 0;
}
#leftmenu:hover{
	width: 225px;
}

#leftmenu:hover ul li span{
	opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}

#leftmenu:hover .logo{
	color: white;
}

/*================================== DANH SACH SAN PHAM ====================================*/
/* .content-tab{
    width: 1000px;
    height: auto;
    position: relative;
    left: 250px;
    top: 30px;
    background-color: white;
    border: solid 2px whitesmoke;
} */

.content-tab .tab{
    display: none
}

.content-tab .tab.active{
    display: block;
    width: 1000px;
    height: auto;
    margin: 0px 230px;
    background-color: white;
    border: solid 2px whitesmoke;
}

.tab{
    width: 1000px;
    height: auto;
    background-color: white;
    border: solid 2px whitesmoke;
    margin-bottom: 50px;
}

.page-form__title{
    background-color: white;
    color: black;
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    height: auto;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
}

.page-form__content{
    padding: 15px;
}

.input-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    row-gap: 10px;
    column-gap: 50px;
    padding: 20px 20px;
}

.input-box .box-element{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-element input{
    width: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    border: 1px solid #ddd;
    outline: none;
}

.box-element select{
    width: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    border: 1px solid #ddd;
    outline: none;
}

.option-ctn{
    background-color: white;
    color: black;
    font-size: 15px;
}

.box-element label{
    display: inline-block;
    width: 50%;
    font-family: sans-serif;
    font-weight: bold;
}

.button-option{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    padding: 20px;
    width: 600px;
    margin-left: 180px;
}

#Update-button{
    position: relative;
    right: 305px;
    display: none;
}

.button-option button{
    padding: 5px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: white;
    border: solid 2px darkslategray;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover{
    color: white;
    background-color: darkslategray;
}

.table-btn{
    display: flex;
    padding: 10px;
}

.btn:first-child{
    margin-right: 10px;
}

.database{
    width: auto;
    margin: 0px 20px;
}

.database-heading{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    font-weight: bold;
}

.heading-name{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font-family: sans-serif;
    border: solid 1px black;
    padding: 10px;
    width: 155px;
}

.table-content{
    background-color: white;
    width: 155px;
    height: 70px;
    border: solid 1px black;
    display: flex;
    align-items: center;
}

.table-content span{
    margin-left: 20px;
}

.table-img{
    width: 155px;
}

.table-img img{
    width: 100px;
    height: 68px;
    object-fit: scale-down;
}

.btn{
    padding: 0;
    width: 100px;
    height: 30px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: white;
    border: solid 2px darkred;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover{
    color: white;
    background-color: darkred;
}

/**======================= DANH SACH DON HANG ==================================**/
.order-database-container{
    background-color: white;
    width: 100%;
    height: 1000px;
    padding: 30px;
}

.order-table{
    background-color: white;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.order-heading{
    border: solid 1px black;
    height: 50px;
    padding: 10px;
    font-weight: bold;
    background-color: whitesmoke;
}

#btn-checked{
    width: 100px;
    padding: 3px;
    font-weight: bold;
    color: darkred;
    background-color: white;
    border: solid darkred 2px;
}

.check-order-status-optn{
    padding: 5px;
    background-color: white;
    border: solid 2px black;
    font-weight: bold;
    color: darkred;
}

.check-order-status-optn option{
    background-color: darkred;
    color: white;
    font-weight: bold;
}

.check-order-btn{
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    color: orange;
}

.check-order-btn:hover{
    background-color: orange;
    color: white;
}

/*Box check sản phẩm*/
.order-check-container{
    display: none;
    width: 780px;
    height: 400px;
    background-color: white;
    position: fixed;
    left: 300px;
    top: 130px;
    border-radius: 20px;
    border: solid 1px black;
    padding: 15px;
}

.order-check-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.order-check-table{
    background-color: white;
    width: 200px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
}

.order-check-content{
    border: solid 1px black;
    padding: 5px;
    width: 150px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.order-check-close{
    padding: 5px;
    font-weight: bold;
    background-color: white;
    border: solid 2px darkred;
    color: darkred;
    margin: 5px 0px;
    width: 70px;
    margin-left: 350px;
    cursor: pointer;
}

.order-check-close:hover{
    background-color: darkred;
    color: white;
}

/**======================= DANH SACH TAI KHOAN ==================================**/
.login-database-container{
    background-color: #ffffff;
    width: 100%;
    height: 1000px;
    padding: 30px;
}

.login-table{
    background-color: white;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}


.login-heading{
    border: solid 1px black;
    height: 40px;
    padding: 10px;
    font-weight: bold;
}


