.checkout-form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background: #f5f5f5;
}
header{
    text-align: center;
    background-color: yellow;
}
footer{
    text-align: center;
    background-color: yellow;
}
header h1{
    margin : 0;
    margin-bottom: 50px;
}
footer h1{
    margin : 0;
    margin-top: 50px;
}
h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background: #f5f5f5;
    font-weight: bold;
}

table td img {
    max-width: 100px;
}

table th[colspan="5"], table td[colspan="5"] {
    font-weight: bold;
    text-align: right;
}