@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: Roboto;
    list-style: none;
}

body{
    background-color: aliceblue;
}

header{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    background-color:#c2f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    z-index: 1000;
    box-shadow: 0 0 5px 0 rgba(153, 153, 153, 1);
}

.logo{
    display: block;
}

.logo img{
    max-width: 170px;
    height: auto;
    margin-left: 10px;    
}
/* ------thanh menu---- */
.nav-menu{
    display: flex;
    justify-content: center;
}

.nav-menu ul{
    display: flex;
    padding: 10px 0;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.contact,
.nav-menu .btn-filter{
    display: flex;
    font-size: 16px;
    padding: 10px 20px; 
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    color: #000008;
}

.active-3{
    color: rgb(203, 40, 40) !important;
    cursor: pointer;
    text-decoration: underline !important;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px !important;
}

.nav-menu .btn-filter:hover,
.nav-menu .contact:hover{
    color: rgb(203, 40, 40);
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.nav-icon{
    display: flex ;
    /* text-align: center;
    justify-content: center; */
    float: right;
}
.nav-icon .container i{
    color: black;
    font-size: 25px;
    font-weight: 800;
   
}
.nav-icon a i{
    color: black;
    font-size: 25px;
    font-weight: 800;
    right: 0;
    position: relative;
    padding: 10px 15px;
}
.nav-icon a {
    display: flex;
    align-items: center;
}
.nav-icon i:hover{
    color: rgb(203, 40, 40);
    cursor: pointer;
}

/* tim kiem san pham */

.container{
    width: 60px;
    
    height: 45px;
    border-radius: 20px;
    /* background: white; */
    position: relative;
    transition: 0.3s;
    overflow: hidden;
}
.container .iconSearch{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translate(-50%, -50%);

}
.container .search{
    font-size: 21px;
}

.container.active-4{
    width: 250px;
}

.container .iconSearch i{
    padding: 20px;
}

.container .input{
    position: relative;
    color: white;
    width: 160px;
    height: 45px;
    left: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 14px;
    outline: none;
}

.container .input i{
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 20px;
    color: black;
}
/* ----het tim kiem sp----*/

section{
    padding: 3% 10% 0 10%;
}

/* slider */
.slider {
    position: relative;
    margin-top: 100px;
    padding: 0;
    width: 100%;
    height: auto;
}

.slideShow {
    overflow: hidden;
}

.list-imgs {
    display: flex;
    transition: 1s;
}

.list-imgs img {
    width: 100%;
    height: auto;
    /* flex-shrink: 0; */
}
.btn{
    font-size: 35px;
    color: #999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    cursor: pointer;

}

.btn:hover {
    color: white;
}

.btn-left{
    left: 60px;
}
.btn-right{
    right: 60px;
}

.index-images{
    position: absolute;
    z-index: 3;
    bottom: 3px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

.index-item{
    border: 1px solid #999 ;
    border-radius: 50%;
    padding: 5px;
    margin: 3px;
}

.active-1 {
    background-color: #999;
}
/* end slider */





  /* loc san pham */

.icon-bottom-title{
    margin-bottom: 10px;
}
.filter{
    border-radius: 10px;
    display: none;
    /* margin-top: 10px; */
}

.openFilter{
    display: flex;
    justify-content: end;
    position: relative;
    margin-bottom: 20px;
}
#filterButton{
    display: flex;
    justify-content: flex-end;
    /* float: right; */
    margin-right: 5%;
    width: auto;
    height:40px;
    padding: 10px;
    background-color: #c2f0f0;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
}
#filterContainer{
    display: flex;
    justify-content: space-between;
}
#filterContainer .item{
    display: grid;
    gap: 0.5rem;
    margin: 10px 5px;
}
#filterContainer select,
#filterContainer input{
    width: 220px;
    height: 30px;
    padding: 0 10px;
}
.filter .submit{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    margin-top: 10px;
}
.filter .submit button{
    padding: 5px 20px;
    font-size: 15px;

}


 
/* tieu dè san pham */
.center-text-share{
    display:block;
    color: #18191f;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New';
    position: relative;
    font-size: 40px;
    margin-bottom: 0;

}

.icon-bottom-title {
    display: flex; 
    justify-content: center; 
    align-items: center;
    /* margin-bottom: 50px; */
}

/* ---------sản phẩm------- */
.products{
    margin-top: -50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0));
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.row{
    position: relative;
    transform: all .0.40s;
    text-align: center;
    height: auto;
    border: 1px solid #eee6e6;
    overflow: hidden;
    box-shadow: 0px 2px 1.5px 0px #ccc;
}

.row img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; 
}

.logo-penguin{
    position: relative;
}

.row .product-card-content {
    background: white;
    width: 100%;
    transition: all 0.2s;
    align-items: center;
    position: relative;
    top: 50px
}

.row:hover img{
    transform: scale(1.1);
}

.row:hover .product-card-content{
    top: 0;    
}

.products h5{
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 12px;
    color: #fff;
    background-color:  #bd3817;
    border-radius: 50%;
    padding: 6px 5px;
    font-weight: 400;
}

.product-card-content{
    background: #f5f5f5;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 42px;
}

.row .name-product{
    width: 100%;
    font-family: Muli;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    text-overflow: ellipsis;
    padding: 0 8px;
}

.row .price{
    font-family: Muli;
    font-size: 18px;
    font-weight: 700;
    color: #8a733f;
    text-align: center;
    margin-top: 24px;
}

.row .buy-btn-container{
    margin-top: 16px;
    margin-bottom: 12px;
    color: #fff;
    border: 1px solid #d3b673;
    background: #d3b673;
    padding: 8px 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Muli;
}

.row .buy-btn-container:hover{
    background-color: #fff;
    color: #8a733f;
}

/* ---thong bao khi khong co san pham------ */


/* --------phan trang san pham ---------*/
.listPage{
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    list-style: none;
}

.listPage li{
    width: 30px;
    height: 30px;
    padding-top: 5px;
    display: inline-block;
    cursor: pointer;
    margin: 0 6px;
    border: 1px solid #333 ;
    border-radius: 50%;
}

.listPage .active2{
    color: #ccc;
}
.hide{
    display: none;
}


 /* update-info */
.update-info{
    padding-bottom: 75px;
}

.cart-info img{
    width: 150px;
    height: auto;
    border-radius: 2px;
}

.cart-info{
    text-align: center;
}

.cart-info h4{
    margin: 20px;
    color: #373333;
}

.cart-info p{
    color: #707070;
    margin: 10px;
    font-size: 15px;
}

.cart-info a{
    color: #000008;
    font-weight: 550;
}

.update-cart{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 3rem;
    /* margin-bottom: 50px; */
}



/* -------footer------- */

#footer{
    background-color: beige;
    padding-top: 40px;
    position: relative;
    align-items: center;
}

.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 3rem;
    padding-bottom: 30px;
    border-bottom: 1.5px solid #1a1a1c;
    align-items: center;

}

.first-info img{
    width: 140px;
    height: auto;
    margin-bottom: 20px;
}

.contact-info h4{
    color: rgb(11, 11, 11);
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.first-info div{
    margin-bottom: 10px;
}

.first-info span{
    color: #565656;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1.5;
    cursor: pointer;
}

.contact-info a:not(.fourth a){
    color: #565656;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1.8;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    transition: color 0.2s ease;
}

.contact-info span:hover {
    color: #ff8a6c;
}


.contact-info a:not(.fourth a):hover {
    color: #ff8a6c;
}
.contact-info .first-info i{
    color: #000008;
    border: 1px solid #000008;
    display: inline-block;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;  
    width: 30px;
    height: 30px;
}

 #fb,#tw,#git,#ig{
    color: #fff;
    background-color: #18191f;
    font-size: 24px;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080, 2px 2px 10px #00000080, 
    2px, 2px, 3px #00000080, inset 2px 2px 10px #000008,inset 2px 2px 10px #000008,
    inset 2px 2px 10px #000008,inset 2px 2px 10px #000008;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 20px 20px 0 0;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 20px #0072ff, 0 0 50px #0072ff, 0 0 70px #0072ff, 0 0 100px #0072ff;
}

#tw{
    animation-delay: 0.7s;
}
#ig{
    animation-delay: 0.5s;
}

#git{
    animation-delay: 0,2s;

}

.footer-bottom {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    height: 50px;
}

@keyframes animate{
    from{
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(360deg);
    }
}

.contact-info .fourth img{
    position: relative;
    display: block;
    max-width: 150px;
    height: auto;
    margin-top: 40px;
}

/* Thêm CSS cho nút toggle trên điện thoại */
.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #ff8a6c !important;
    font-size: 24px;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 15px 10px 0 0;
}

